In [25]:
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request

def get_number_from_percentage(li):
    num_span = li.find('span',{'class':'number'})
    num_span = num_span.text.replace(',', '')
    return float(num_span) if (num_span != '') else 0.0

def get_company_fundamentals(SCRIP):
    link = f'https://www.screener.in/company/{SCRIP}/consolidated'
    hdr = {'User-Agent':'Mozilla/5.0'}
    req = Request(link,headers=hdr)

    try:
        page=urlopen(req)
        soup = BeautifulSoup(page)

        div_html = soup.find('div',{'class': 'company-ratios'})
        ul_html = div_html.find('ul',{'id': 'top-ratios'})
        company_val = {}
        for li in ul_html.find_all("li"):
            name_span = li.find('span',{'class':'name'})
            if 'Market Cap' in name_span.text: 
                company_val['Market Cap'] = get_number_from_percentage(li)
            elif 'Stock P/E' in name_span.text:
                company_val['P/E'] = get_number_from_percentage(li)
            elif 'ROCE' in name_span.text:
                company_val['ROCE'] = get_number_from_percentage(li)
            elif 'ROE' in name_span.text:
                company_val['ROE'] = get_number_from_percentage(li)
            elif 'Book Value' in name_span.text:
                company_val['Book Value'] = get_number_from_percentage(li)
            elif 'Current Price' in name_span.text:
                company_val['Price'] = get_number_from_percentage(li)
            elif 'High / Low' in name_span.text:
                num_spans = li.find_all('span',{'class':'number'})
                if(len(num_spans) == 2):
                    high_num = num_spans[0].text.replace(',', '')
                    low_num = num_spans[1].text.replace(',', '')
                    company_val['High'] = float(high_num) if (high_num != '') else 0.0
                    company_val['Low'] = float(low_num) if (low_num != '') else 0.0 
        print(f'MARKET CAPITILIZATION - {SCRIP}: {company_val} Cr')

    except:
        print(f'EXCEPTION THROWN: UNABLE TO FETCH DATA FOR {SCRIP}')
        company_val={}
    return company_val

In [26]:
import pandas as pd
import numpy as np
from time import sleep

In [27]:
nifty_data = pd.read_csv('ind_nifty100list.csv')
cols = list(nifty_data.columns)

In [28]:
new_data = pd.DataFrame(columns = list(nifty_data.columns))
for index, row in nifty_data.iterrows():
    print(row.Symbol)
    new_dict = get_company_fundamentals(row.Symbol)
    new_dict['Company Name'] = row['Company Name']
    new_dict['Industry'] = row['Industry']
    new_dict['Symbol'] = row['Symbol']
    new_data = pd.concat([new_data, pd.DataFrame([new_dict])], ignore_index=True)
    print(index)
    sleep(2)

ABB
MARKET CAPITILIZATION - ABB: {'Market Cap': 92896.0, 'Price': 4384.0, 'High': 4558.0, 'Low': 2554.0, 'P/E': 664.0, 'Book Value': 197.0, 'ROCE': 9.77, 'ROE': 5.45} Cr
0
ACC
MARKET CAPITILIZATION - ACC: {'Market Cap': 33379.0, 'Price': 1778.0, 'High': 2785.0, 'Low': 1592.0, 'P/E': 33.2, 'Book Value': 753.0, 'ROCE': 10.0, 'ROE': 7.06} Cr
1
ADANIENT
MARKET CAPITILIZATION - ADANIENT: {'Market Cap': 270876.0, 'Price': 2376.0, 'High': 4190.0, 'Low': 1017.0, 'P/E': 102.0, 'Book Value': 290.0, 'ROCE': 10.1, 'ROE': 9.63} Cr
2
ADANIGREEN
MARKET CAPITILIZATION - ADANIGREEN: {'Market Cap': 152891.0, 'Price': 965.0, 'High': 2574.0, 'Low': 439.0, 'P/E': 135.0, 'Book Value': 46.1, 'ROCE': 7.81, 'ROE': 22.8} Cr
3
ADANIPORTS
MARKET CAPITILIZATION - ADANIPORTS: {'Market Cap': 156848.0, 'Price': 726.0, 'High': 988.0, 'Low': 395.0, 'P/E': 24.7, 'Book Value': 211.0, 'ROCE': 9.91, 'ROE': 15.1} Cr
4
ATGL
MARKET CAPITILIZATION - ATGL: {'Market Cap': 69717.0, 'Price': 634.0, 'High': 4000.0, 'Low': 620.0, 'P/E': 128.0, 'Book Value': 26.7, 'ROCE': 20.7, 'ROE': 20.4} Cr
5
ADANITRANS
MARKET CAPITILIZATION - ADANITRANS: {'Market Cap': 82803.0, 'Price': 742.0, 'High': 4239.0, 'Low': 630.0, 'P/E': 65.9, 'Book Value': 105.0, 'ROCE': 10.5, 'ROE': 11.6} Cr
6
AWL
MARKET CAPITILIZATION - AWL: {'Market Cap': 51818.0, 'Price': 399.0, 'High': 842.0, 'Low': 327.0, 'P/E': 88.7, 'Book Value': 62.8, 'ROCE': 15.0, 'ROE': 7.41} Cr
7
AMBUJACEM
MARKET CAPITILIZATION - AMBUJACEM: {'Market Cap': 82722.0, 'Price': 417.0, 'High': 598.0, 'Low': 315.0, 'P/E': 29.6, 'Book Value': 134.0, 'ROCE': 16.0, 'ROE': 10.8} Cr
8
APOLLOHOSP
MARKET CAPITILIZATION - APOLLOHOSP: {'Market Cap': 74363.0, 'Price': 5172.0, 'High': 5310.0, 'Low': 3890.0, 'P/E': 90.8, 'Book Value': 431.0, 'ROCE': 14.6, 'ROE': 13.9} Cr
9
ASIANPAINT
MARKET CAPITILIZATION - ASIANPAINT: {'Market Cap': 328981.0, 'Price': 3430.0, 'High': 3590.0, 'Low': 2686.0, 'P/E': 79.6, 'Book Value': 167.0, 'ROCE': 35.2, 'ROE': 27.7} Cr
10
DMART
MARKET CAPITILIZATION - DMART: {'Market Cap': 249662.0, 'Price': 3839.0, 'High': 4609.0, 'Low': 3292.0, 'P/E': 104.0, 'Book Value': 248.0, 'ROCE': 20.2, 'ROE': 16.0} Cr
11
AXISBANK
MARKET CAPITILIZATION - AXISBANK: {'Market Cap': 294760.0, 'Price': 957.0, 'High': 990.0, 'Low': 662.0, 'P/E': 16.3, 'Book Value': 422.0, 'ROCE': 6.16, 'ROE': 14.5} Cr
12
BAJAJ-AUTO
MARKET CAPITILIZATION - BAJAJ-AUTO: {'Market Cap': 137506.0, 'Price': 4860.0, 'High': 4990.0, 'Low': 3461.0, 'P/E': 23.0, 'Book Value': 1038.0, 'ROCE': 26.2, 'ROE': 20.2} Cr
13
BAJFINANCE
MARKET CAPITILIZATION - BAJFINANCE: {'Market Cap': 453003.0, 'Price': 7482.0, 'High': 8000.0, 'Low': 5486.0, 'P/E': 39.3, 'Book Value': 898.0, 'ROCE': 11.8, 'ROE': 23.5} Cr
14
BAJAJFINSV
MARKET CAPITILIZATION - BAJAJFINSV: {'Market Cap': 257112.0, 'Price': 1614.0, 'High': 1846.0, 'Low': 1190.0, 'P/E': 40.1, 'Book Value': 291.0, 'ROCE': 12.7, 'ROE': 14.8} Cr
15
BAJAJHLDNG
MARKET CAPITILIZATION - BAJAJHLDNG: {'Market Cap': 83854.0, 'Price': 7535.0, 'High': 7590.0, 'Low': 4532.0, 'P/E': 17.3, 'Book Value': 3970.0, 'ROCE': 11.5, 'ROE': 11.2} Cr
16
BANKBARODA
MARKET CAPITILIZATION - BANKBARODA: {'Market Cap': 102600.0, 'Price': 198.0, 'High': 211.0, 'Low': 104.0, 'P/E': 6.89, 'Book Value': 203.0, 'ROCE': 5.17, 'ROE': 15.1} Cr
17
BERGEPAINT
MARKET CAPITILIZATION - BERGEPAINT: {'Market Cap': 64901.0, 'Price': 668.0, 'High': 710.0, 'Low': 527.0, 'P/E': 75.5, 'Book Value': 46.3, 'ROCE': 23.8, 'ROE': 20.4} Cr
18
BEL
MARKET CAPITILIZATION - BEL: {'Market Cap': 92944.0, 'Price': 127.0, 'High': 129.0, 'Low': 83.0, 'P/E': 31.1, 'Book Value': 19.0, 'ROCE': 30.1, 'ROE': 22.8} Cr
19
BPCL
MARKET CAPITILIZATION - BPCL: {'Market Cap': 82334.0, 'Price': 380.0, 'High': 398.0, 'Low': 288.0, 'P/E': 24.4, 'Book Value': 247.0, 'ROCE': 6.86, 'ROE': 6.4} Cr
20
BHARTIARTL
MARKET CAPITILIZATION - BHARTIARTL: {'Market Cap': 513755.0, 'Price': 886.0, 'High': 896.0, 'Low': 649.0, 'P/E': 59.2, 'Book Value': 139.0, 'ROCE': 13.5, 'ROE': 12.0} Cr
21
BOSCHLTD
MARKET CAPITILIZATION - BOSCHLTD: {'Market Cap': 55748.0, 'Price': 18902.0, 'High': 19990.0, 'Low': 15300.0, 'P/E': 39.0, 'Book Value': 3731.0, 'ROCE': 17.4, 'ROE': 13.2} Cr
22
BRITANNIA
MARKET CAPITILIZATION - BRITANNIA: {'Market Cap': 123643.0, 'Price': 5133.0, 'High': 5270.0, 'Low': 3555.0, 'P/E': 60.9, 'Book Value': 147.0, 'ROCE': 48.8, 'ROE': 66.6} Cr
23
CANBK
MARKET CAPITILIZATION - CANBK: {'Market Cap': 59249.0, 'Price': 327.0, 'High': 342.0, 'Low': 207.0, 'P/E': 5.41, 'Book Value': 430.0, 'ROCE': 5.33, 'ROE': 14.8} Cr
24
CHOLAFIN
MARKET CAPITILIZATION - CHOLAFIN: {'Market Cap': 95719.0, 'Price': 1164.0, 'High': 1215.0, 'Low': 635.0, 'P/E': 35.9, 'Book Value': 175.0, 'ROCE': 9.72, 'ROE': 20.4} Cr
25
CIPLA
MARKET CAPITILIZATION - CIPLA: {'Market Cap': 83211.0, 'Price': 1031.0, 'High': 1185.0, 'Low': 852.0, 'P/E': 28.4, 'Book Value': 290.0, 'ROCE': 18.8, 'ROE': 13.2} Cr
26
COALINDIA
MARKET CAPITILIZATION - COALINDIA: {'Market Cap': 142390.0, 'Price': 231.0, 'High': 263.0, 'Low': 194.0, 'P/E': 5.06, 'Book Value': 92.9, 'ROCE': 71.5, 'ROE': 56.0} Cr
27
COLPAL
MARKET CAPITILIZATION - COLPAL: {'Market Cap': 49954.0, 'Price': 1837.0, 'High': 1840.0, 'Low': 1435.0, 'P/E': 116.0, 'Book Value': 12.1, 'ROCE': 180.0, 'ROE': 158.0} Cr
28
DLF
MARKET CAPITILIZATION - DLF: {'Market Cap': 122070.0, 'Price': 493.0, 'High': 518.0, 'Low': 336.0, 'P/E': 60.0, 'Book Value': 152.0, 'ROCE': 4.65, 'ROE': 5.49} Cr
29
DABUR
MARKET CAPITILIZATION - DABUR: {'Market Cap': 103930.0, 'Price': 586.0, 'High': 611.0, 'Low': 504.0, 'P/E': 61.5, 'Book Value': 50.6, 'ROCE': 23.3, 'ROE': 19.5} Cr
30
DIVISLAB
MARKET CAPITILIZATION - DIVISLAB: {'Market Cap': 97618.0, 'Price': 3677.0, 'High': 3977.0, 'Low': 2730.0, 'P/E': 53.5, 'Book Value': 481.0, 'ROCE': 19.3, 'ROE': 14.9} Cr
31
DRREDDY
MARKET CAPITILIZATION - DRREDDY: {'Market Cap': 84803.0, 'Price': 5092.0, 'High': 5273.0, 'Low': 3996.0, 'P/E': 18.4, 'Book Value': 1398.0, 'ROCE': 26.7, 'ROE': 21.6} Cr
32
EICHERMOT
MARKET CAPITILIZATION - EICHERMOT: {'Market Cap': 91537.0, 'Price': 3347.0, 'High': 3890.0, 'Low': 2836.0, 'P/E': 31.4, 'Book Value': 548.0, 'ROCE': 27.4, 'ROE': 21.1} Cr
33
NYKAA
MARKET CAPITILIZATION - NYKAA: {'Market Cap': 41478.0, 'Price': 145.0, 'High': 248.0, 'Low': 114.0, 'P/E': 2154.0, 'Book Value': 4.83, 'ROCE': 5.5, 'ROE': 1.42} Cr
34
GAIL
MARKET CAPITILIZATION - GAIL: {'Market Cap': 72326.0, 'Price': 110.0, 'High': 114.0, 'Low': 83.0, 'P/E': 12.9, 'Book Value': 98.8, 'ROCE': 9.77, 'ROE': 8.67} Cr
35
GODREJCP
MARKET CAPITILIZATION - GODREJCP: {'Market Cap': 108708.0, 'Price': 1063.0, 'High': 1102.0, 'Low': 794.0, 'P/E': 62.3, 'Book Value': 135.0, 'ROCE': 16.8, 'ROE': 13.8} Cr
36
GRASIM
MARKET CAPITILIZATION - GRASIM: {'Market Cap': 115436.0, 'Price': 1753.0, 'High': 1840.0, 'Low': 1405.0, 'P/E': 16.8, 'Book Value': 1196.0, 'ROCE': 12.6, 'ROE': 8.89} Cr
37
HCLTECH
MARKET CAPITILIZATION - HCLTECH: {'Market Cap': 312329.0, 'Price': 1151.0, 'High': 1203.0, 'Low': 876.0, 'P/E': 20.7, 'Book Value': 241.0, 'ROCE': 28.7, 'ROE': 23.3} Cr
38
HDFCAMC
MARKET CAPITILIZATION - HDFCAMC: {'Market Cap': 50795.0, 'Price': 2380.0, 'High': 2387.0, 'Low': 1590.0, 'P/E': 35.7, 'Book Value': 286.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
39
HDFCBANK
MARKET CAPITILIZATION - HDFCBANK: {'Market Cap': 919157.0, 'Price': 1644.0, 'High': 1758.0, 'Low': 1337.0, 'P/E': 20.0, 'Book Value': 446.0, 'ROCE': 6.85, 'ROE': 18.6} Cr
40
HDFCLIFE
MARKET CAPITILIZATION - HDFCLIFE: {'Market Cap': 144039.0, 'Price': 670.0, 'High': 691.0, 'Low': 458.0, 'P/E': 105.0, 'Book Value': 60.4, 'ROCE': 9.56, 'ROE': 9.57} Cr
41
HAVELLS
MARKET CAPITILIZATION - HAVELLS: {'Market Cap': 80261.0, 'Price': 1281.0, 'High': 1406.0, 'Low': 1024.0, 'P/E': 74.9, 'Book Value': 106.0, 'ROCE': 22.3, 'ROE': 17.0} Cr
42
HEROMOTOCO
MARKET CAPITILIZATION - HEROMOTOCO: {'Market Cap': 62676.0, 'Price': 3136.0, 'High': 3207.0, 'Low': 2246.0, 'P/E': 22.4, 'Book Value': 833.0, 'ROCE': 23.6, 'ROE': 17.2} Cr
43
HINDALCO
MARKET CAPITILIZATION - HINDALCO: {'Market Cap': 100438.0, 'Price': 447.0, 'High': 504.0, 'Low': 354.0, 'P/E': 9.98, 'Book Value': 422.0, 'ROCE': 11.1, 'ROE': 11.6} Cr
44
HAL
MARKET CAPITILIZATION - HAL: {'Market Cap': 128294.0, 'Price': 3837.0, 'High': 3950.0, 'Low': 1736.0, 'P/E': 22.0, 'Book Value': 705.0, 'ROCE': 30.6, 'ROE': 27.2} Cr
45

HINDUNILVR
MARKET CAPITILIZATION - HINDUNILVR: {'Market Cap': 628962.0, 'Price': 2677.0, 'High': 2770.0, 'Low': 2393.0, 'P/E': 61.8, 'Book Value': 214.0, 'ROCE': 26.6, 'ROE': 20.5} Cr
46
HDFC
MARKET CAPITILIZATION - HDFC: {'Market Cap': 504384.0, 'Price': 2724.0, 'High': 2927.0, 'Low': 2188.0, 'P/E': 19.3, 'Book Value': 1097.0, 'ROCE': 9.38, 'ROE': 13.7} Cr
47
ICICIBANK
MARKET CAPITILIZATION - ICICIBANK: {'Market Cap': 671760.0, 'Price': 960.0, 'High': 965.0, 'Low': 758.0, 'P/E': 19.7, 'Book Value': 262.0, 'ROCE': 6.82, 'ROE': 18.7} Cr
48
ICICIGI
MARKET CAPITILIZATION - ICICIGI: {'Market Cap': 0.0, 'Price': 0.0, 'High': 0.0, 'Low': 0.0, 'P/E': 0.0, 'Book Value': 0.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
49
ICICIPRULI
MARKET CAPITILIZATION - ICICIPRULI: {'Market Cap': 84569.0, 'Price': 588.0, 'High': 616.0, 'Low': 381.0, 'P/E': 104.0, 'Book Value': 70.1, 'ROCE': 10.0, 'ROE': 8.45} Cr
50
ITC
MARKET CAPITILIZATION - ITC: {'Market Cap': 588819.0, 'Price': 473.0, 'High': 481.0, 'Low': 293.0, 'P/E': 30.8, 'Book Value': 55.6, 'ROCE': 39.2, 'ROE': 29.1} Cr
51
IOC
MARKET CAPITILIZATION - IOC: {'Market Cap': 136411.0, 'Price': 96.6, 'High': 101.0, 'Low': 65.2, 'P/E': 13.9, 'Book Value': 99.2, 'ROCE': 8.15, 'ROE': 7.17} Cr
52
IRCTC
MARKET CAPITILIZATION - IRCTC: {'Market Cap': 0.0, 'Price': 0.0, 'High': 0.0, 'Low': 0.0, 'P/E': 0.0, 'Book Value': 0.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
53
INDUSTOWER
MARKET CAPITILIZATION - INDUSTOWER: {'Market Cap': 44143.0, 'Price': 164.0, 'High': 231.0, 'Low': 135.0, 'P/E': 20.3, 'Book Value': 78.3, 'ROCE': 11.4, 'ROE': 10.0} Cr
54
INDUSINDBK
MARKET CAPITILIZATION - INDUSINDBK: {'Market Cap': 106848.0, 'Price': 1377.0, 'High': 1414.0, 'Low': 816.0, 'P/E': 14.4, 'Book Value': 620.0, 'ROCE': 7.39, 'ROE': 15.5} Cr
55
NAUKRI
MARKET CAPITILIZATION - NAUKRI: {'Market Cap': 60985.0, 'Price': 4721.0, 'High': 4738.0, 'Low': 3308.0, 'P/E': 289.0, 'Book Value': 1037.0, 'ROCE': 4.27, 'ROE': 1.38} Cr
56
INFY
MARKET CAPITILIZATION - INFY: {'Market Cap': 591797.0, 'Price': 1426.0, 'High': 1673.0, 'Low': 1185.0, 'P/E': 24.7, 'Book Value': 182.0, 'ROCE': 40.7, 'ROE': 31.8} Cr
57
INDIGO
MARKET CAPITILIZATION - INDIGO: {'Market Cap': 102476.0, 'Price': 2658.0, 'High': 2746.0, 'Low': 1676.0, 'P/E': 0.0, 'Book Value': -162.0, 'ROCE': 8.14, 'ROE': 0.0} Cr
58
JSWSTEEL
MARKET CAPITILIZATION - JSWSTEEL: {'Market Cap': 194550.0, 'Price': 805.0, 'High': 818.0, 'Low': 573.0, 'P/E': 51.9, 'Book Value': 272.0, 'ROCE': 8.41, 'ROE': 5.64} Cr
59
KOTAKBANK
MARKET CAPITILIZATION - KOTAKBANK: {'Market Cap': 371410.0, 'Price': 1869.0, 'High': 2064.0, 'Low': 1644.0, 'P/E': 24.9, 'Book Value': 487.0, 'ROCE': 7.37, 'ROE': 15.4} Cr
60
LTIM
MARKET CAPITILIZATION - LTIM: {'Market Cap': 150699.0, 'Price': 5093.0, 'High': 5430.0, 'Low': 3990.0, 'P/E': 34.2, 'Book Value': 561.0, 'ROCE': 37.7, 'ROE': 28.6} Cr
61
LT
MARKET CAPITILIZATION - LT: {'Market Cap': 347493.0, 'Price': 2472.0, 'High': 2504.0, 'Low': 1690.0, 'P/E': 33.4, 'Book Value': 636.0, 'ROCE': 12.5, 'ROE': 12.1} Cr
62
LICI
MARKET CAPITILIZATION - LICI: {'Market Cap': 391328.0, 'Price': 619.0, 'High': 754.0, 'Low': 530.0, 'P/E': 10.9, 'Book Value': 73.1, 'ROCE': 144.0, 'ROE': 125.0} Cr
63
M&M
MARKET CAPITILIZATION - M&M: {'Market Cap': 192318.0, 'Price': 1547.0, 'High': 1595.0, 'Low': 1123.0, 'P/E': 20.5, 'Book Value': 453.0, 'ROCE': 13.6, 'ROE': 18.1} Cr
64
MARICO
MARKET CAPITILIZATION - MARICO: {'Market Cap': 69760.0, 'Price': 539.0, 'High': 559.0, 'Low': 463.0, 'P/E': 53.6, 'Book Value': 29.4, 'ROCE': 43.7, 'ROE': 36.4} Cr
65
MARUTI
MARKET CAPITILIZATION - MARUTI: {'Market Cap': 290107.0, 'Price': 9604.0, 'High': 10037.0, 'Low': 8076.0, 'P/E': 35.3, 'Book Value': 2046.0, 'ROCE': 17.7, 'ROE': 14.0} Cr
66
MUTHOOTFIN
MARKET CAPITILIZATION - MUTHOOTFIN: {'Market Cap': 52499.0, 'Price': 1308.0, 'High': 1310.0, 'Low': 911.0, 'P/E': 14.5, 'Book Value': 540.0, 'ROCE': 12.1, 'ROE': 17.9} Cr
67
NTPC
MARKET CAPITILIZATION - NTPC: {'Market Cap': 181764.0, 'Price': 187.0, 'High': 198.0, 'Low': 147.0, 'P/E': 10.8, 'Book Value': 152.0, 'ROCE': 9.81, 'ROE': 12.0} Cr
68
NESTLEIND
MARKET CAPITILIZATION - NESTLEIND: {'Market Cap': 0.0, 'Price': 0.0, 'High': 0.0, 'Low': 0.0, 'P/E': 0.0, 'Book Value': 0.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
69
ONGC
MARKET CAPITILIZATION - ONGC: {'Market Cap': 212921.0, 'Price': 169.0, 'High': 170.0, 'Low': 122.0, 'P/E': 5.5, 'Book Value': 223.0, 'ROCE': 14.7, 'ROE': 14.3} Cr
70
PIIND
MARKET CAPITILIZATION - PIIND: {'Market Cap': 55094.0, 'Price': 3631.0, 'High': 4011.0, 'Low': 2869.0, 'P/E': 44.8, 'Book Value': 474.0, 'ROCE': 21.7, 'ROE': 18.5} Cr
71
PAGEIND
MARKET CAPITILIZATION - PAGEIND: {'Market Cap': 0.0, 'Price': 0.0, 'High': 0.0, 'Low': 0.0, 'P/E': 0.0, 'Book Value': 0.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
72
PIDILITIND
MARKET CAPITILIZATION - PIDILITIND: {'Market Cap': 133393.0, 'Price': 2624.0, 'High': 2919.0, 'Low': 2250.0, 'P/E': 105.0, 'Book Value': 142.0, 'ROCE': 24.6, 'ROE': 18.7} Cr
73
POWERGRID
MARKET CAPITILIZATION - POWERGRID: {'Market Cap': 167446.0, 'Price': 240.0, 'High': 264.0, 'Low': 186.0, 'P/E': 10.9, 'Book Value': 119.0, 'ROCE': 13.0, 'ROE': 19.4} Cr
74
PGHH
MARKET CAPITILIZATION - PGHH: {'Market Cap': 0.0, 'Price': 0.0, 'High': 0.0, 'Low': 0.0, 'P/E': 0.0, 'Book Value': 0.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
75
RELIANCE
MARKET CAPITILIZATION - RELIANCE: {'Market Cap': 1854250.0, 'Price': 2741.0, 'High': 2802.0, 'Low': 2180.0, 'P/E': 27.8, 'Book Value': 1214.0, 'ROCE': 10.1, 'ROE': 8.33} Cr
76
SBICARD
MARKET CAPITILIZATION - SBICARD: {'Market Cap': 0.0, 'Price': 0.0, 'High': 0.0, 'Low': 0.0, 'P/E': 0.0, 'Book Value': 0.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
77
SBILIFE
MARKET CAPITILIZATION - SBILIFE: {'Market Cap': 0.0, 'Price': 0.0, 'High': 0.0, 'Low': 0.0, 'P/E': 0.0, 'Book Value': 0.0, 'ROCE': 0.0, 'ROE': 0.0} Cr
78
SRF
MARKET CAPITILIZATION - SRF: {'Market Cap': 64843.0, 'Price': 2188.0, 'High': 2865.0, 'Low': 2082.0, 'P/E': 30.0, 'Book Value': 348.0, 'ROCE': 22.4, 'ROE': 22.8} Cr
79
MOTHERSON
MARKET CAPITILIZATION - MOTHERSON: {'Market Cap': 65121.0, 'Price': 96.1, 'High': 97.0, 'Low': 61.8, 'P/E': 42.0, 'Book Value': 33.1, 'ROCE': 9.26, 'ROE': 7.2} Cr
80
SHREECEM
MARKET CAPITILIZATION - SHREECEM: {'Market Cap': 87819.0, 'Price': 24340.0, 'High': 27049.0, 'Low': 19780.0, 'P/E': 69.7, 'Book Value': 5165.0, 'ROCE': 8.53, 'ROE': 6.98} Cr
81
SIEMENS
MARKET CAPITILIZATION - SIEMENS: {'Market Cap': 131401.0, 'Price': 3690.0, 'High': 3940.0, 'Low': 2573.0, 'P/E': 81.2, 'Book Value': 339.0, 'ROCE': 15.7, 'ROE': 13.9} Cr
82
SBIN
MARKET CAPITILIZATION - SBIN: {'Market Cap': 521554.0, 'Price': 584.0, 'High': 630.0, 'Low': 482.0, 'P/E': 9.37, 'Book Value': 402.0, 'ROCE': 5.21, 'ROE': 16.8} Cr
83
SUNPHARMA
MARKET CAPITILIZATION - SUNPHARMA: {'Market Cap': 257437.0, 'Price': 1073.0, 'High': 1084.0, 'Low': 856.0, 'P/E': 29.8, 'Book Value': 233.0, 'ROCE': 17.4, 'ROE': 16.6} Cr
84
TCS
MARKET CAPITILIZATION - TCS: {'Market Cap': 1286028.0, 'Price': 3515.0, 'High': 3575.0, 'Low': 2926.0, 'P/E': 29.4, 'Book Value': 247.0, 'ROCE': 59.1, 'ROE': 46.9} Cr
85
TATACONSUM
MARKET CAPITILIZATION - TATACONSUM: {'Market Cap': 79105.0, 'Price': 852.0, 'High': 877.0, 'Low': 685.0, 'P/E': 73.4, 'Book Value': 175.0, 'ROCE': 9.86, 'ROE': 6.86} Cr
86
TATAMOTORS
MARKET CAPITILIZATION - TATAMOTORS: {'Market Cap': 224704.0, 'Price': 625.0, 'High': 635.0, 'Low': 375.0, 'P/E': 88.9, 'Book Value': 136.0, 'ROCE': 6.14, 'ROE': 5.62} Cr
87
TATAPOWER
MARKET CAPITILIZATION - TATAPOWER: {'Market Cap': 70633.0, 'Price': 221.0, 'High': 251.0, 'Low': 182.0, 'P/E': 21.9, 'Book Value': 90.1, 'ROCE': 12.4, 'ROE': 12.6} Cr
88
TATASTEEL
MARKET CAPITILIZATION - TATASTEEL: {'Market Cap': 143175.0, 'Price': 117.0, 'High': 124.0, 'Low': 89.2, 'P/E': 18.1, 'Book Value': 84.3, 'ROCE': 12.8, 'ROE': 7.28} Cr
89
TECHM
MARKET CAPITILIZATION - TECHM: {'Market Cap': 119762.0, 'Price': 1229.0, 'High': 1232.0, 'Low': 980.0, 'P/E': 24.8, 'Book Value': 287.0, 'ROCE': 22.5, 'ROE': 17.6} Cr
90
TITAN
MARKET CAPITILIZATION - TITAN: {'Market Cap': 271268.0, 'Price': 3056.0, 'High': 3211.0, 'Low': 2190.0, 'P/E': 83.4, 'Book Value': 133.0, 'ROCE': 25.1, 'ROE': 30.8} Cr
91
TORNTPHARM
MARKET CAPITILIZATION - TORNTPHARM: {'Market Cap': 65834.0, 'Price': 1945.0, 'High': 1984.0, 'Low': 1430.0, 'P/E': 52.9, 'Book Value': 183.0, 'ROCE': 20.2, 'ROE': 20.5} Cr
92

UPL
MARKET CAPITILIZATION - UPL: {'Market Cap': 48005.0, 'Price': 640.0, 'High': 807.0, 'Low': 630.0, 'P/E': 13.1, 'Book Value': 398.0, 'ROCE': 15.8, 'ROE': 13.5} Cr
93
ULTRACEMCO
MARKET CAPITILIZATION - ULTRACEMCO: {'Market Cap': 236219.0, 'Price': 8183.0, 'High': 8501.0, 'Low': 5811.0, 'P/E': 46.6, 'Book Value': 1882.0, 'ROCE': 12.6, 'ROE': 9.67} Cr
94
MCDOWELL-N
MARKET CAPITILIZATION - MCDOWELL-N: {'Market Cap': 68720.0, 'Price': 945.0, 'High': 952.0, 'Low': 731.0, 'P/E': 71.6, 'Book Value': 82.5, 'ROCE': 19.9, 'ROE': 17.5} Cr
95
VBL
MARKET CAPITILIZATION - VBL: {'Market Cap': 108197.0, 'Price': 833.0, 'High': 874.0, 'Low': 413.0, 'P/E': 64.7, 'Book Value': 39.3, 'ROCE': 27.8, 'ROE': 33.5} Cr
96
VEDL
MARKET CAPITILIZATION - VEDL: {'Market Cap': 105884.0, 'Price': 285.0, 'High': 341.0, 'Low': 229.0, 'P/E': 9.92, 'Book Value': 106.0, 'ROCE': 23.8, 'ROE': 20.4} Cr
97
WIPRO
MARKET CAPITILIZATION - WIPRO: {'Market Cap': 222346.0, 'Price': 405.0, 'High': 445.0, 'Low': 352.0, 'P/E': 19.1, 'Book Value': 142.0, 'ROCE': 17.7, 'ROE': 15.9} Cr
98
ZOMATO
MARKET CAPITILIZATION - ZOMATO: {'Market Cap': 70821.0, 'Price': 82.6, 'High': 85.2, 'Low': 40.6, 'P/E': 0.0, 'Book Value': 22.8, 'ROCE': -5.29, 'ROE': -5.4} Cr
99

In [29]:
new_data

,Company Name,Industry,Symbol,Series,ISIN Code,Market Cap,Price,P/E,Book Value,ROCE,ROE,High,Low
0,ABB India Ltd.,Capital Goods,ABB,NaN,NaN,92896.0,4384.0,664.00,197.0,9.77,5.45,4558.0,2554.0
1,ACC Ltd.,Construction Materials,ACC,NaN,NaN,33379.0,1778.0,33.20,753.0,10.00,7.06,2785.0,1592.0
2,Adani Enterprises Ltd.,Metals & Mining,ADANIENT,NaN,NaN,270876.0,2376.0,102.00,290.0,10.10,9.63,4190.0,1017.0
3,Adani Green Energy Ltd.,Power,ADANIGREEN,NaN,NaN,152891.0,965.0,135.00,46.1,7.81,22.80,2574.0,439.0
4,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS,NaN,NaN,156848.0,726.0,24.70,211.0,9.91,15.10,988.0,395.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,United Spirits Ltd.,Fast Moving Consumer Goods,MCDOWELL-N,NaN,NaN,68720.0,945.0,71.60,82.5,19.90,17.50,952.0,731.0
96,Varun Beverages Ltd.,Fast Moving Consumer Goods,VBL,NaN,NaN,108197.0,833.0,64.70,39.3,27.80,33.50,874.0,413.0
97,Vedanta Ltd.,Metals & Mining,VEDL,NaN,NaN,105884.0,285.0,9.92,106.0,23.80,20.40,341.0,229.0
98,Wipro Ltd.,Information Technology,WIPRO,NaN,NaN,222346.0,405.0,19.10,142.0,17.70,15.90,445.0,352.0
99,Zomato Ltd.,Consumer Services,ZOMATO,NaN,NaN,70821.0,82.6,0.00,22.8,-5.29,-5.40,85.2,40.6

In [30]:
new_data['Series'] = new_data['Series'].astype(float)
new_data['ISIN Code'] = new_data['ISIN Code'].astype(float)

In [31]:
new_data.dropna(how='all', axis=1, inplace=True)

In [32]:
new_data

,Company Name,Industry,Symbol,Market Cap,Price,P/E,Book Value,ROCE,ROE,High,Low
0,ABB India Ltd.,Capital Goods,ABB,92896.0,4384.0,664.00,197.0,9.77,5.45,4558.0,2554.0
1,ACC Ltd.,Construction Materials,ACC,33379.0,1778.0,33.20,753.0,10.00,7.06,2785.0,1592.0
2,Adani Enterprises Ltd.,Metals & Mining,ADANIENT,270876.0,2376.0,102.00,290.0,10.10,9.63,4190.0,1017.0
3,Adani Green Energy Ltd.,Power,ADANIGREEN,152891.0,965.0,135.00,46.1,7.81,22.80,2574.0,439.0
4,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS,156848.0,726.0,24.70,211.0,9.91,15.10,988.0,395.0
...,...,...,...,...,...,...,...,...,...,...,...
95,United Spirits Ltd.,Fast Moving Consumer Goods,MCDOWELL-N,68720.0,945.0,71.60,82.5,19.90,17.50,952.0,731.0
96,Varun Beverages Ltd.,Fast Moving Consumer Goods,VBL,108197.0,833.0,64.70,39.3,27.80,33.50,874.0,413.0
97,Vedanta Ltd.,Metals & Mining,VEDL,105884.0,285.0,9.92,106.0,23.80,20.40,341.0,229.0
98,Wipro Ltd.,Information Technology,WIPRO,222346.0,405.0,19.10,142.0,17.70,15.90,445.0,352.0
99,Zomato Ltd.,Consumer Services,ZOMATO,70821.0,82.6,0.00,22.8,-5.29,-5.40,85.2,40.6

In [1]:
new_data.to_csv('ratio_nifty100.csv')

NameError: name 'new_data' is not defined

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
import pandas as pd

In [13]:
def get_number_from_percentage(li):
    num_span = li.find('span',{'class':'number'})
    num_span = num_span.text.replace(',', '')
    return float(num_span) if (num_span != '') else 0.0

In [61]:
link = f'https://www.screener.in/company/SBIN/consolidated'
hdr = {'User-Agent':'Mozilla/5.0'}
req = Request(link,headers=hdr)
try:
    page=urlopen(req)
    soup = BeautifulSoup(page)
    
    div_html = soup.find('section',{'id': 'balance-sheet'})
    cols = get_cols(div_html)
    pandl_sheet = pd.DataFrame(columns=cols)
    pandl_sheet = get_dataframe_from_table(div_html, cols, pandl_sheet)
except:
    print(f'EXCEPTION THROWN: UNABLE TO FETCH DATA FOR SBIN')
    company_val={}

0
Mar 2012 =

            Share Capital +


1
Mar 2013 =
          671

2
Mar 2014 =
          684

3
Mar 2015 =
          747

4
Mar 2016 =
          747

5
Mar 2017 =
          776

6
Mar 2018 =
          797

7
Mar 2019 =
          892

8
Mar 2020 =
          892

9
Mar 2021 =
          892

10
Mar 2022 =
          892

11
Mar 2023 =
          892

0
Mar 2012 =

          Reserves


1
Mar 2013 =
          105,559

2
Mar 2014 =
          124,349

3
Mar 2015 =
          146,624

4
Mar 2016 =
          160,641

5
Mar 2017 =
          179,816

6
Mar 2018 =
          216,395

7
Mar 2019 =
          229,429

8
Mar 2020 =
          233,603

9
Mar 2021 =
          250,168

10
Mar 2022 =
          274,669

11
Mar 2023 =
          304,696

0
Mar 2012 =

            Borrowings +


1
Mar 2013 =
          1,572,681

2
Mar 2014 =
          1,831,126

3
Mar 2015 =
          2,062,612

4
Mar 2016 =
          2,297,624

5
Mar 2017 =
          2,615,257

6
Mar 2018 =
          2,936,176

7
Mar 2019 =
          3,091,258

8
Mar 2020 =
          3,354,289

9
Mar 2021 =
          3,607,061

10
Mar 2022 =
          4,149,127

11
Mar 2023 =
          4,536,570

0
Mar 2012 =

            Other Liabilities +


1
Mar 2013 =
          150,720

2
Mar 2014 =
          176,355

3
Mar 2015 =
          185,573

4
Mar 2016 =
          240,149

5
Mar 2017 =
          276,472

6
Mar 2018 =
          288,391

7
Mar 2019 =
          294,860

8
Mar 2020 =
          299,676

9
Mar 2021 =
          339,364

10
Mar 2022 =
          420,926

11
Mar 2023 =
          518,719

0
Mar 2012 =

          Total Liabilities


1
Mar 2013 =
          1,829,631

2
Mar 2014 =
          2,132,514

3
Mar 2015 =
          2,395,556

4
Mar 2016 =
          2,699,161

5
Mar 2017 =
          3,072,321

6
Mar 2018 =
          3,441,760

7
Mar 2019 =
          3,616,439

8
Mar 2020 =
          3,888,460

9
Mar 2021 =
          4,197,486

10
Mar 2022 =
          4,845,615

11
Mar 2023 =
          5,360,878

0
Mar 2012 =

            Fixed Assets +


1
Mar 2013 =
          7,027

2
Mar 2014 =
          8,694

3
Mar 2015 =
          10,223

4
Mar 2016 =
          12,924

5
Mar 2017 =
          15,415

6
Mar 2018 =
          51,189

7
Mar 2019 =
          40,301

8
Mar 2020 =
          39,941

9
Mar 2021 =
          39,608

10
Mar 2022 =
          41,600

11
Mar 2023 =
          41,032

0
Mar 2012 =

          CWIP


1
Mar 2013 =
          381

2
Mar 2014 =
          676

3
Mar 2015 =
          337

4
Mar 2016 =
          400

5
Mar 2017 =
          786

6
Mar 2018 =
          695

7
Mar 2019 =
          925

8
Mar 2020 =
          762

9
Mar 2021 =
          470

10
Mar 2022 =
          116

11
Mar 2023 =
          28

0
Mar 2012 =

          Investments


1
Mar 2013 =
          460,949

2
Mar 2014 =
          519,343

3
Mar 2015 =
          579,401

4
Mar 2016 =
          673,507

5
Mar 2017 =
          807,375

6
Mar 2018 =
          1,027,281

7
Mar 2019 =
          1,183,794

8
Mar 2020 =
          1,119,270

9
Mar 2021 =
          1,228,284

10
Mar 2022 =
          1,595,100

11
Mar 2023 =
          1,776,490

0
Mar 2012 =

            Other Assets +


1
Mar 2013 =
          1,361,274

2
Mar 2014 =
          1,603,801

3
Mar 2015 =
          1,805,595

4
Mar 2016 =
          2,012,329

5
Mar 2017 =
          2,248,746

6
Mar 2018 =
          2,362,594

7
Mar 2019 =
          2,391,419

8
Mar 2020 =
          2,728,487

9
Mar 2021 =
          2,929,123

10
Mar 2022 =
          3,208,798

11
Mar 2023 =
          3,543,328

0
Mar 2012 =

          Total Assets


1
Mar 2013 =
          1,829,631

2
Mar 2014 =
          2,132,514

3
Mar 2015 =
          2,395,556

4
Mar 2016 =
          2,699,161

5
Mar 2017 =
          3,072,321

6
Mar 2018 =
          3,441,760

7
Mar 2019 =
          3,616,439

8
Mar 2020 =
          3,888,460

9
Mar 2021 =
          4,197,486

10
Mar 2022 =
          4,845,615

11
Mar 2023 =
          5,360,878

In [62]:
pandl_sheet

,Columns Name,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023
0,Share Capital +,671.0,684.0,747.0,747.0,776.0,797.0,892.0,892.0,892.0,892.0,892.0,892.0
1,Reserves,105559.0,124349.0,146624.0,160641.0,179816.0,216395.0,229429.0,233603.0,250168.0,274669.0,304696.0,358039.0
2,Borrowings +,1572681.0,1831126.0,2062612.0,2297624.0,2615257.0,2936176.0,3091258.0,3354289.0,3607061.0,4149127.0,4536570.0,4989687.0
3,Other Liabilities +,150720.0,176355.0,185573.0,240149.0,276472.0,288391.0,294860.0,299676.0,339364.0,420926.0,518719.0,605796.0
4,Total Liabilities,1829631.0,2132514.0,2395556.0,2699161.0,3072321.0,3441760.0,3616439.0,3888460.0,4197486.0,4845615.0,5360878.0,5954415.0
5,Fixed Assets +,7027.0,8694.0,10223.0,12924.0,15415.0,51189.0,40301.0,39941.0,39608.0,41600.0,41032.0,45880.0
6,CWIP,381.0,676.0,337.0,400.0,786.0,695.0,925.0,762.0,470.0,116.0,28.0,66.0
7,Investments,460949.0,519343.0,579401.0,673507.0,807375.0,1027281.0,1183794.0,1119270.0,1228284.0,1595100.0,1776490.0,1913108.0
8,Other Assets +,1361274.0,1603801.0,1805595.0,2012329.0,2248746.0,2362594.0,2391419.0,2728487.0,2929123.0,3208798.0,3543328.0,3995361.0
9,Total Assets,1829631.0,2132514.0,2395556.0,2699161.0,3072321.0,3441760.0,3616439.0,3888460.0,4197486.0,4845615.0,5360878.0,5954415.0

In [31]:
cols = ['Columns Name', 'Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023']
cols[1:]
len(cols)

13

In [50]:
def get_cols(html_val):
    cols = ['Columns Name']
    col_name = html_val.find("table").find("thead").find_all("tr")
    val_list = col_name[0].get_text().split("\n")
    for val in val_list:
        if val != "":
            cols.append(val.split("  ")[-1]) if val.split("  ")[-1] != "" else None
    return cols

In [56]:
def get_dataframe_from_table(table_html, cols, dataframe):
    col_name = div_html.find("table").find("tbody").find_all("tr")
    rows = div_html.find("table").find("tbody").find_all("tr")
    for row in rows:
        cells = row.find_all("td")
        data = {}
        data[cols[0]] = cells[0].get_text().split("\n")[2]
        for idx, col in enumerate(cols[1:]):
            print(idx)
            text_val = cells[idx+1].get_text().split("\n")
            if "%" not in text_val[1] and "\n" not in text_val[1]:
                text_val[1] = float(text_val[1].replace(",",""))
            else:
                text_val[1] = float(text_val[1].replace("%",""))
            data[col] = text_val[1]
            print(f"{col} = {cells[idx].get_text()}")
        dataframe = pd.concat([dataframe, pd.DataFrame([data])], ignore_index=True)
    return dataframe